# ===========================
# GLOBAL IGNORE
# ===========================
# Ignore React Dependencies
client/node_modules/
client/build/
client/.pnp
client/.pnp.js
client/coverage/

# Ignore Python Dependencies (Backend)
server/venv/
venv/
server/__pycache__/
__pycache__/
*.pyc
*.sqlite3

# System Files
.DS_Store
.env
.env.local
*.log